In [1]:
import pandas as pd

In [3]:
a={'语文':[68,95,98,90,80],
  '数学':[65,76,86,88,90],
  '英语':[30,98,88,77,90]}

In [4]:
df=pd.DataFrame(a,index=['张飞','关羽','刘备','典韦','许褚'])
df.index.name='姓名'
df

    语文  数学  英语
姓名
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [15]:
print(df)

    语文  数学  英语
姓名
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [21]:
df2=(df.describe(percentiles=[.2,.8]))
ch=df['语文'].var()
mt=df['数学'].var()
en=df['英语'].var()
print(df2)
print('var %f%f%f' %(ch,mt,en))

              语文         数学         英语
count   5.000000   5.000000   5.000000
mean   86.200000  81.000000  76.600000
std    12.255611  10.440307  27.107195
min    68.000000  65.000000  30.000000
20%    77.600000  73.800000  67.600000
50%    90.000000  86.000000  88.000000
80%    95.600000  88.400000  91.600000
max    98.000000  90.000000  98.000000
var 150.200000109.000000734.800000

In [24]:
df['score']=df['语文']+df['数学']+df['英语']
df.sort_values(by=['score'],inplace=True,ascending=False)
print(df)

    语文  数学  英语  score
姓名
刘备  98  86  88    272
关羽  95  76  98    269
许褚  80  90  90    260
典韦  90  88  77    255
张飞  68  65  30    163